/* Light mode */
background-color: #F6F1DE;
text-color: #3E3F5B;
Primary-color: #8AB2A6;
Accent-color: #ACD3A8;

/* Dark mode */
background-color: #201B09;
text-color: #A4A5C1;
Primary-color: #4D7569;
Accent-color: #ACD3A8;