
/* Färger ljust tema */
:root {
    --färg-bakgrund: #F6F1DE;
    --färg-text: #3E3F5B;
    --färg-primar: #8AB2A6;
    --färg-accent: #ACD3A8;
}

/* Ändrar månen/solen beroende på tema */
#theme-toggle .fa-moon {
    display: none;
}

#theme-toggle .fa-sun {
    display: inline-block;
}

.sidebar {
    width: 120px;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--färg-accent);
    color: var(--färg-text);  
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-navigation {
    flex-grow: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    margin-left: 140px;
    padding: 20px;
}

/* Light mode theme */
body {
    background-color: var(--färg-bakgrund); /* bakgrund */
    color: var(--färg-text); /* text */
}

hr {
    color: var(--färg-primar);
    background-color: var(--färg-primar);
    height: 4px;
    border: none;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--färg-text);
    border-radius: 8px;
}

.nav-item:hover {
    color: var(--färg-primar);
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-item.active {
    background-color: var(--färg-primar);
}

.nav-item i {
    font-size: 24px;
}

.nav-item img {
    max-width: 32px;
    max-height: 32px;
}